<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="../css/animation.css">
  <link rel="stylesheet" type="text/css" href="../css/products_styles/product_detail_styles.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/footer.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/button.css">
  <title>Nombre del producto</title>
</head>
<body>

  <%- include('../partials/header') %> 

<section class="product_detail_center">
  <form action="/product/cart" method="POST">
    <div class="cuadro_extras">
      <h3>Agrégale Extras</h3>

      <h4>quesos <i class="fas fa-dollar-sign" aria-hidden="true"></i>100</h4>
        <div>

          <% dataQuesos.forEach(function(quesos) { %>
            <p>
              <label class="product_detail_cuadro_extras">
                <input type="checkbox" name="<%= quesos.name %> "><%= quesos.value %> 
              </label>
            </p>
          <% }); %> 

        </div>
        
      <h4>vegetales <i class="fas fa-dollar-sign" aria-hidden="true"></i>90</h4>
        <div>
         <% dataVegetales.forEach(function(vegetales) { %>
            <p>
              <label class="product_detail_cuadro_extras">
                <input type="checkbox" name="<%= vegetales.name %>"><%= vegetales.value %>
              </label>
            </p>
          <% }); %>
        </div>

      <h4>Proteinas <i class="fas fa-dollar-sign" aria-hidden="true"></i>120</h4>
        <div>
          <% dataProteinas.forEach(function(proteinas) { %>
            <p>
              <label class="product_detail_cuadro_extras">
                <input type="checkbox" name="<%= proteinas.name %>"><%= proteinas.value%>
              </label>
            </p>
          <% }); %>
        </div>
    </div>
          
      <div>
        <img class='product_detail_pizza' src="<%= pizzaElegida.image %>"/>
        <span class="nombre_pizza"><%= pizzaElegida.name %></span>
        <span class="precio_pizza"><i class="fas fa-dollar-sign" aria-hidden="true"></i><%= pizzaElegida.price %></span>
      </div>

    <div class="cuadro_bebidas">

      <h3>Acompañalo con tu bebida favorita</h3>
      <h4>Bebidas 350ml <i class="fas fa-dollar-sign" aria-hidden="true"></i>250</h4>
        <div>

          <% dataBebidas.forEach(function(bebidas) { %>

            <label class="product_detail_cuadro_bebidas"><%= bebidas.value  %> 
                <input class="contarBebidas" type="number" value="0" min="0" max="10" name="<%= bebidas.name  %> ">
            </label>
          <% }); %>

        </div>
      <h4>Cerveza 355ml <i class="fas fa-dollar-sign" aria-hidden="true"></i>350</h4>
        <div>
         <% dataCervezas.forEach (function(cervezas) { %>

            <label class="product_detail_cuadro_bebidas"><%= cervezas.value  %> 
                <input class="contarBebidas" type="number" value="0" min="0" max="10" name="<%= cervezas.name  %> ">
            </label>
          <% }); %>
        </div>
    </div>

</section>
    <div class="flex-dark">
     <button class="bttn-dark">AAgregar a la nave 🚀</button> 
      <p class="product_detail_precio"></p>
    </div>
  </form>

<%- include('../partials/footer') %>
</body>
</html>