<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="../css/button.css">
  <link rel="stylesheet" type="text/css" href="../css/animation.css">
  <link rel="stylesheet" type="text/css" href="../css/products_styles/product_detail_styles.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/footer.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
  <title>Nombre del producto</title>
</head>
<body>

  <%- include('../partials/header') %> 

  <section class="product_detail_center">
    <div class="cuadro_extras">
      <h3>Agrégale Extras</h3>

        <h4>Quesos $100</h4>
        <div>
          <% dataQuesos.forEach(function(quesos) { %>
            <p>
              <label class="product_detail_cuadro_extras">
                <input type="checkbox" name="<%= quesos.mame %> "><%= quesos.value %> 
              </label>
            </p>
          <% }); %>
        </div>
        
        <h4>Vegetales $90</h4>
        <div>
          <% dataVegetales.forEach(function(vegetales) { %>
            <p>
              <label class="product_detail_cuadro_extras">
                <input type="checkbox" name="<%= vegetales.name %>"><%= vegetales.value %>
              </label>
            </p>
          <% }); %>
        </div>

          <h4>Proteinas $120</h4>
        <div>
          <% dataProteinas.forEach(function(proteinas) { %>
            <p>
              <label class="product_detail_cuadro_extras">
                <input type="checkbox" name="<%= proteinas.name %>"><%= proteinas.value%>
              </label>
            </p>
          <% }); %>
        </div>
    </div>
          
      <div>
            <img class='product_detail_pizza' src="../img/products/Urano.png"/>
            
      </div>

      <div class="cuadro_bebidas">

          <h3>Acompañalo con tu bebida favorita</h3>
          <h4>Bebidas 350ml $250</h4>
        <div>
          <% dataBebida.forEach(function(bebida) { %>

            <label class="product_detail_cuadro_bebidas"><%= bebida.value  %> 
            <select name="<%= bebida.name  %>" id="<%= bebida.id  %>">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
            </select>
          </label>
          <% }); %>
        </div>

          <h4>Cerveza 355ml $350</h4>
        <div>
          <% dataCerveza.forEach(function(cerveza) { %>
            <label class="product_detail_cuadro_bebidas"><%= cerveza.value  %> 
              <select name="<%= cerveza.name  %>" id="<%= cerveza.id  %>">
                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
              </select>
            </label>
          <% }); %>
        </div>

      </div>
    </section>
    <br>
    <form class="flex-dark" action="/cart" method="POST">
      <button class="bttn-dark">Agregar a la nave</button>
      <p class="product_detail_precio">$420</p>
    </form>
    <br><br><br><br>
    <%- include('../partials/footer') %>
    
</body>
</html>