<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
  <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/footer.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/button.css">
  <link rel="stylesheet" type="text/css" href="../css/products_styles/product_list.css">
  <title>Lista de Productos</title>
</head>
<body>
  <div class="main-container">
    <%- include('../partials/header') %> 
    <div class="menu-container">
      <div class="side-bar">
        <div class="bar">
            <button class="bttn-dark">🍕 Pizzas</button>  
            <button class="bttn-dark">🥤 Gaseosas</button> 
            <button class="bttn-dark">🍺 Cervezas</button> 
            <button class="bttn-dark">🍦 Postres</button> 
        </div>
      </div>

    
    
      <div class="menu">
        <div class="product-container">
          <% products.forEach(element => { %>
            <div class="card">
              <div class="product_name">
                <span>Pizza <%= element.name %></span>
              </div>
              <div class="img-product">
                <img src="../img/pizzas/<%= element.image %>">
              </div>
              <div class="description-box">
                <span><%= element.description %></span>
              </div>
              <% if (user?.role == 'admin') { %>
                <div class="actions">
                  <a href="/product/edit/<%= element.id %>"><i class="fas fa-pen"></i></a>
                </div>
              <% } %> 
            </div>
          <% }) %>

        </div>
      </div>

    </div>
    <%- include('../partials/footer') %> 
  </div>
</body>

</html>