<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/button.css">
    <link rel="stylesheet" type="text/css" href="../css/products_styles/product_create.css">
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/toast.css">

    <title>Crear Producto</title>
  </head>
<body>
  <div class="main-container">
    <%- include('../partials/header') %> 
      <% if (locals?.req?.product) { %>
        <div id="toast" data-value="productCreate"></div>
      <% } %> 
    <div class="form-container">
      <div data-aos="zoom-in" class="form-col">
        <form class="form-create" action="/product/create" method="POST" enctype="multipart/form-data">

          <div class="field-group">
            <input class="fg-field" type="text" name="product_name" value="<%= locals.old?.product_name ? old.product_name : null %>">
            <label id="product_name" class="fg-label">Nombre del Producto</label>
          </div>
          <% if (locals.errors) { %>
            <span class="errors"><%= errors?.product_name?.msg %> </span>
            <% } else { %>
              <div class="errors" id="productName-error"></div>
              <% } %>

          <div class="field-group">
            <input class="fg-field" type="number" name="price" value="<%= locals.old?.price ? old.price : null %>">
            <label class="fg-label" id="price">Precio</label>
          </div>
          <% if (locals.errors) { %>
            <span class="errors"><%= errors?.price?.msg %> </span>
            <% } else { %>
              <div class="errors" id="price-error"></div>
              <% } %>

          <div class="field-group">
            <textarea class="fg-field" name="description"><%= locals.old?.description ? old.description : null %></textarea>
            <label id='description' class="fg-label">Descripcion</label>
          </div>
          <% if (locals.errors) { %>
            <span class="errors"><%= errors?.description?.msg %> </span>
            <% } else { %>
              <div class="errors" id="description-error"></div>
              <% } %>

          <div class="select">
            
            <select id="category-product" name="category">
              <option selected disabled value="">Categoria</option>
              <option value = '1'>Pizzas</option>
              <option value = '2'>Quesos</option>
              <option value = '3'>Vegetales</option>
              <option value = '4'>Carnes</option>
              <option value = '5'>Bebidas</option>
              <option value = '6'>Cervezas</option>
              <option value = '7'>Postres</option>
            </select>
          </div>

          <% if (locals.errors) { %>
            <span class="errors"><%= errors?.category?.msg %> </span>
          <% } else { %>
            <div class="errors" id="category-error"></div>
            <% } %>

          
          <div class="img-input">
            <label class="img-label">Imagen del Producto:</label>
            <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Seleccionar
            </label>
            <input id="file-upload" name="image" type="file"/>
          </div>
          <% if (locals.errors) { %>
            <span class="errors"><%= errors?.image?.msg %> </span>
          <% } %>

          <div class="submit-btn">
            <button type="submit" class="bttn-dark">Cargar</button>
          </div>
        </form>


      </div>
    </div>
  </div>
  </div>
  
</body>
<script>
  AOS.init();
</script>
<script src="../js/forms.js"></script>
<script src="../js/productCreateValidationFront.js"></script>
<script src="../js/partials/toastr.js"></script>
</html>