<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="../../img/favico.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../../css/animation.css">
  <link rel="stylesheet" type="text/css" href="../../css/products_styles/product_detail_styles.css">
  <link rel="stylesheet" type="text/css" href="../../css/partials_styles/footer.css">
  <link rel="stylesheet" type="text/css" href="../../css/partials_styles/header.css">
  <link rel="stylesheet" type="text/css" href="../../css/partials_styles/button.css">
  <title><%=// pizzaData.name %> pizza</title>
</head>
<body>

  <%- include('../partials/header') %> 

<section class="product_detail_center">
  <form action="/cart" method="POST">
    <div class="cuadro_extras">
      <h3>Agrégale Extras</h3>

      <h4>quesos <i class="fas fa-dollar-sign" aria-hidden="true"></i>100</h4>
        <div>

          <% products.filter(element => { %>
            <% if(element.category_id == 2){%>
            <p>
              <label class="product_detail_cuadro_extras">
                <input type="checkbox" name="<%= element.name %>"><%= element.name %>
              </label>
            </p>
          <% }}); %>

        </div>
        
      <h4>vegetales <i class="fas fa-dollar-sign" aria-hidden="true"></i>90</h4>
        <div>
          <% products.filter(element => { %>
            <% if(element.category_id == 3){%>
            <p>
              <label class="product_detail_cuadro_extras">
                <input type="checkbox" name="<%= element.name %>"><%= element.name %>
              </label>
            </p>
          <% }}); %>
        </div>

      <h4>Proteinas <i class="fas fa-dollar-sign" aria-hidden="true"></i>120</h4>
        <div>
          <% products.filter(element => { %>
            <% if(element.category_id == 4){%>
            <p>
              <label class="product_detail_cuadro_extras">
                <input type="checkbox" name="<%= element.name %>"><%= element.name %>
              </label>
            </p>
          <% }}); %>
        </div>
    </div>
          
      <div>
        <% products.filter(element => { %>
          <% if(element.name == pizzaData){%>
            <img class='product_detail_pizza' src="../../img/pizzas/<%= element.image %>"/>
            <span class="nombre_pizza"><%= element.name %></span>
            <span class="precio_pizza"><i class="fas fa-dollar-sign" aria-hidden="true"></i><%= element.price %></span>
        <% }}); %>
      </div>

    <div class="cuadro_bebidas">

      <h3>Acompañalo con tu bebida favorita</h3>
      <h4>Bebidas 350ml <i class="fas fa-dollar-sign" aria-hidden="true"></i>250</h4>
        <div>

          <% products.filter(element => { %>
            <% if(element.category_id == 5){%>
            <p>
              <label class="product_detail_cuadro_bebidas"><%= element.name %>
                <input class="contarBebidas" type="number"  value="0" min="0" max="10" name="<%= element.name %> %>">
              </label>
            </p>
          <% }}); %>

        </div>
      <h4>Cerveza 355ml <i class="fas fa-dollar-sign" aria-hidden="true"></i>350</h4>
        <div>
          <% products.filter(element => { %>
            <% if(element.category_id == 6){%>
            <p>
              <label class="product_detail_cuadro_bebidas"><%= element.name %>
                <input class="contarBebidas" type="number" value="0" min="0" max="10" name="<%= element.name %>">
              </label>
            </p>
          <% }}); %>
          
        </div>
    </div>

</section>
    <div class="flex-dark">
      <button class="bttn-dark" type="submit">Agregar a la nave 🚀</button> 
      <p class="product_detail_precio"></p>
    </div>
  </form>

<%- include('../partials/footer') %>
</body>
</html>