<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"/>
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/button.css">
    <link rel="stylesheet" type="text/css" href="../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/toast.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Mi carrito</title>
</head>
  <body>
    
    <div class="main-container">
      <%- include('./partials/header') %> 
      <div id="toast"></div>
        <div class="cart-container">
          <div class="cart-board">
            <div class="resume">
              <% if (locals.cart && locals.cart.length > 0) { %>
               
                <% locals.cart.forEach((element, index) => { %>
                    
                  <div id='b<%= element.id %>' class="products">
                    <div class="product-img">
                      <img src="../img/pizzas/<%= element?.pizza?.image %>">
                    </div>
                      <div class="box">
                          <div class="name-amount">
                            <h4><%= element?.pizza?.name %></h4>
                              <div class="amount">
                                <i class="fas fa-dollar-sign"></i><h4><%= element?.pizza?.price %></h4>
                              </div>
                          </div>
                          <div class="description-box">
                            <div class="extras-box">
                              <div class="description">
                              
                                  <% if (element?.extras?.quesos?.length > 0) { %>
                                    <h5 class="extra-title">Quesos $200</h5>
                                      <% element?.extras?.quesos.forEach(queso => { %>
                                        <span>1 x Extra <%= queso.name %></span>
                                      <% }) %>
                                  <% } %>

                                  <% if (element?.extras?.vegetales?.length > 0) { %>
                                    <h5 class="extra-title">Vegetales $150</h5>
                                      <% element.extras.vegetales.forEach(vegetal => { %>
                                        <span>1 x Extra <%= vegetal.name %></span>
                                      <% }) %>
                                  <% } %>

                                  <% if (element?.extras?.proteinas?.length > 0) { %>
                                    <h5 class="extra-title">Carnes $250</h5>
                                      <% element?.extras?.proteinas?.forEach(proteina => { %>
                                        <span>1 x Extra <%= proteina.name %></span>
                                      <% }) %>
                                  <% } %>
                                
                                  <% if (element?.extras?.quesos?.length == 0 && element?.extras?.vegetales?.length == 0 && element?.extras?.proteinas?.length == 0) { %>
                                  <h5 class="extra-title">Sin extras</h5>
                                  <% } %>
                                  
    
                              </div>
                              <div class="description">
                               
                                <% if (element?.bebidas?.gaseosas?.length > 0) { %>
                                  <h5 class="extra-title">Gaseosas</h5>
                                    <% element.bebidas.gaseosas.forEach((gaseosa, index) => { %>
                                      <% console.log(gaseosa) %> 
                                      <span><%= gaseosa.cantidad %> x <%= gaseosa.name %></span>
                                    <% }) %>
                                <% } %>

                                <% if (element?.bebidas?.cervezas?.length > 0) { %>
                                  <h5 class="extra-title">Cervezas</h5>
                                    <% element.bebidas.cervezas?.forEach(cerveza => { %>
                                      <span><%= cerveza.name %></span>
                                    <% }) %>
                                <% } %>
                                
                                <% if (element?.postres?.length > 0) { %>
                                  <h5>Postres</h5>
                                    <% element?.postres?.forEach(postre => { %>
                                      <span><%= postre.name %></span>
                                    <% }) %>
                                <% } %>
                              </div>
                            </div>
                        
                            <div class="div-qty">
                              <div class="qty">
                                <button class="min-plus" id="sub" onclick="totalPay()">-</button>
                                  <input type="number" class="count" id="count" value="1" readonly>
                                <button class="min-plus" id="sum" onclick="totalPay()">+</button>
                              </div>
                              <div class="div-trash">
                                <form id='b<%= element.id %>' action="/cart/<%= index %>?_method=DELETE" method="post">
                                  <button type="submit" id="<%= index %>" class="btn-trash"><i class="fas fa-trash"></i></button>
                                </form>
                              </div>
                            </div>
                      
                            
    
                          </div>
                      </div>
                  </div>
                  
                  <% }) %>

                  <% } else { %>

                   <h1>El carrito esta vacio</h1>

              <% } %>
    
            </div>

            <div class="resume-col">
              <div class="title-resume">
                <h3>🍕 resumen de la orden: </h3>
              </div>
              <div class="check-box">
                <div class="bill">
                  <span>Subtotal:</span>
                  <span>$ </span>
                </div>
                <div class="bill">
                  <span>Delivery:</span>
                  <span>$0</span>
                </div>
                <div class="bill">
                  <span>Descuentos:</span>
                  <span>$0</span>
                </div>
                <div class="bill">
                  <span class="total">Total:</span>
                  <span class="total" id="total" value=""></span>
                </div>
              </div>

              <div class="pay-button">
                <a href="#" class="bttn-dark">Pagar 🚀</a>
              </div>
            </div>
          </div>   
    </div>
    </div>
  </body>
  <script src="../js/cart.js"></script>
  <script src="../js/partials/toastr.js"></script>
</html>