<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/footer.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
  <link rel="stylesheet" type="text/css" href="../css/animation.css">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/button.css">
  
  <title>Astro Pizza</title>
</head> 

<body>
  <div class="container-main">
    
    <%- include('./partials/header') %> 
    <div id="comets">
      <i></i>
      <i></i>
      <i></i>
    </div>
    <main>
        <div class="container-page">
            <img id="astronaut-box" src="../img/Astronaut.png" alt="">
            <img id="pizza-box" src="../img/Pizza_box.png" alt="">
        </div>
        <div class="title">
            <h1>Pizzas de otro planeta 🛸</h1>
          <div class="text">
            <span>Aterrizamos en 30 minutos 🚀</span>
          </div>
          <div class="text">
            <span>Pedilas ahora 👇 🍕</span>
          </div>
        </div>
        <img class="asteroid" id="a1" src="../img/asteroid_1.png" alt="">
        <img class="asteroid" id="a2" src="../img/asteroid_2.png" alt="">
        <img class="asteroid" id="a3" src="../img/asteroid_3.png" alt="">
    </main>
      <div class="flex-dark">
        <a href="#menu" class="bttn-dark">Conocelas</a>
      </div>
  </div>


<form action="/product" method="post">
  <section class="menu-container" id="menu"> 
    <section class="menu" id="top">
      <div class="product">

        <a href="/product/<%= dataPizza[0].value %>"><img class='img_product' src="../img/pizzas/<%= dataPizza[0].image %>" alt="Pizza Mercurio"/></a>
        <div class="product-name"><%= dataPizza[0].value %></div>
      </div>
      <div class="product">
        <a href="/product/<%= dataPizza[1].value %>"><img class='img_product' src="../img/pizzas/<%= dataPizza[1].image %>" alt="Pizza Venus"/></a>
        <div class="product-name"><%= dataPizza[1].value %></div>
      </div>
    </section>

    <section class="menu">
      <div class="product">
        <a href="/product/<%= dataPizza[2].value %>"><img class='img_product' src="../img/pizzas/<%= dataPizza[2].image %>" alt="Pizza Marte"/></a>
        <div class="product-name"><%= dataPizza[2].value %></div>

      </div>
      <div class="sun">
        <img class='sun' src="../img/pizzas/sun.png"/>
      </div>
      <div class="product">
        <a href="/product/<%= dataPizza[3].value %>"><img class='img_product' src="../img/pizzas/<%= dataPizza[3].image %>" alt="Pizza Jupiter"/></a>
        <div class="product-name"><%= dataPizza[3].value %></div>

      </div>
    </section>
  
    <section class="menu" id="bottom">

      <div class="product" id="side">
        <a href="/product/<%= dataPizza[4].value %>"><img class='img_product' src="../img/pizzas/<%= dataPizza[4].image %>" alt="Pizza Saturno"/></a>
        <div class="product-name"><%= dataPizza[4].value %></div>
      </div>

      <div class="product" id="bottom-product">
        <a href="/product/<%= dataPizza[5].value %>"><img class='img_product' src="../img/pizzas/<%= dataPizza[5].image %>" alt="Pizza Urano"/></a>
        <div class="product-name"><%= dataPizza[5].value %></div>
      </div>

      <div class="product" id="side">
        <a href="/product/<%= dataPizza[6].value %>"><img class='img_product' src="../img/pizzas/<%= dataPizza[6].image %>" alt="Pizza Neptuno"/></a>
        <div class="product-name"><%= dataPizza[6].value %></div>
      </div>

    </section>
  </section>
</form>
  <%- include('./partials/footer') %> 
</body>
</html>