<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="stylesheet" type="text/css" href="../../css/partials_styles/footer.css">
  <link rel="stylesheet" type="text/css" href="../../css/partials_styles/header.css">
  <link rel="stylesheet" type="text/css" href="../../css/partials_styles/button.css">
  <link rel="stylesheet" type="text/css" href="../../css/users_styles/profile.css">
  <title>Mi Perfil - Astro Pizza</title>
</head>
<body>
  <div class="main-container">

    <%- include('../partials/header') %> 

      <div class="container">
        <form class='form' action="/users/profile/<%= user.id %>?_method=PUT" method="post" enctype="multipart/form-data">

          <div data-aos="zoom-in" class="profile-card">

              <div class="profilepic">
                <img class="profilepic__image" src="../../img/profile/<%= user.profile_img %>" width="150" height="150" alt="Profibild" />
                <div class="profilepic__content">
                  <label class="content-img" for="img-profile">
                    <span class="profilepic__icon"><i class="fas fa-camera"></i></span>
                    <span class="profilepic__text">Cambiar imagen</span>
                    <input id="img-profile" type="file" name='profileImg' style="display: none;">
                </label>
                </div>
            </div>

            
            <% if (locals.errors) { %>
              <div class="errors">
                <span><%= errors?.profileImg?.msg %> </span>
              </div>
            <% } %>

            <div class="titles">
              <div class="title">
                <span><i class="fa fa-user"></i> Datos personales</span>
              </div>
              <div class="title">
                <span><i class="fa fa-user"></i> <%=user?.role_id == 2  ? 'Panel de control' : 'Contrasena' %></span>
              </div>
            </div>

            <div class="form-container">

              <div class="form-col">

                <div class="title title-mb">
                  <span><i class="fa fa-user"></i> Datos personales</span>
                </div>


                <div class="field-group">
                  <input class="fg-field" type="text" name="names" id="name-v" value="<%= user.names %>">
                  <label class="fg-label">Nombres</label>
                </div>

                <% if (locals.errors) { %>
                  <div class="errors">
                    <span><%= errors?.names?.msg %> </span>
                  </div>
                <% } %>
  
                <div class="field-group">
                  <input class="fg-field" type="email" name="email" id="email-v" value="<%= user.email %>">
                  <label class="fg-label">Email</label>
                </div>

                <% if (locals.errors) { %>
                  <div class="errors">
                    <span><%= errors?.email?.msg %> </span>
                  </div>
                <% } %>
  
                <div class="field-group">
                  <input class="fg-field" type="tel" name="telephone" id="telephone-v" value="<%= user.telephone %>">
                  <label class="fg-label">Telefono</label>
                </div>

                <ul class="errores-v"></ul>


              </div>

              
              <div class="form-col">



                <% if (user?.role_id == 2) { %>
                
                  <div class="title title-mb">
                    <span><i class="fa fa-user"></i> <%=user?.role_id == 2 ? 'Panel de control' : 'Contrasena' %></span>
                  </div>
                  
                  <div class="admin_links">
                    <span><a class='a-links' href="/product/create"> 💾 Crear producto</a></span>
                    <span></i> <a  class='a-links' href="/product">🍕 Lista de productos</a></span>
                  </div>
                  
            
                <% } else { %>
  
                  <div class="field-group">
                    <input class="fg-field" type="password" name="password" value="">
                    <label class="fg-label">Contrasena actual</label>
                  </div>
  
                  <% if (locals.errors) { %>
                    <div class="errors">
                      <span><%= errors?.password?.msg %> </span>
                    </div>
                  <% } %>
    
                  <div class="field-group">
                    <input class="fg-field" type="password" name="newPassword" value="">
                    <label class="fg-label">Nueva contrasena</label>
                  </div>
  
                  <% if (locals.errors) { %>
                    <div class="errors">
                      <span><%= errors?.newPassword?.msg %> </span>
                    </div>
                  <% } %>
                  
    
                  <div class="field-group">
                    <input class="fg-field" type="password" name="repeatNewPassword" value="">
                    <label class="fg-label">Repetir contrasena</label>
                  </div>
  
                  <% if (locals.errors) { %>
                    <div class="errors">
                      <span><%= errors?.repeatNewPassword?.msg %> </span>
                    </div>
                  <% } %>

                  <% } %>
              </div>        
           
            </div>
            <div class="btn-submit">
              <button type="submit" class="bttn-dark">Guardar Cambios</button>
            </div>

        </div>


        </form>

      </div>
      
      <%- include('../partials/footer') %> 
  </div>
</body>
<script>
  AOS.init();
</script>
<script src="../../../js/profileValidation.js"></script>
</html>