<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/button.css">
    <link rel="stylesheet" type="text/css" href="../css/support.css">
    <link rel="stylesheet" type="text/css" href="../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../css/users_styles/register.css">
    <title>Registro - Astro Pizza</title>
</head>
<body>
    <div class="main-container">

        <%- include('../partials/header') %>

        <div class="form-container">
           

            <div class="form-col2">
                <div data-aos="zoom-in" class="form-in">
                    <form class='form-register' action="/users/register" method="post" enctype="multipart/form-data">
                        
                        <div class="field-group">
                            <input type="text" name="names" class="fg-field" value="<%= locals.old?.names ? old.names : null %>" >
                            <label class="fg-label">Nombre y apellido</label>
                        </div>

                        <% if (locals.errors) { %>
                            <div class="errors">
                              <span><%= errors?.names?.msg %> </span>
                            </div>
                          <% } %>

                          <div class="field-group">
                            <input type="email" name="email" class="fg-field" value="<%= locals.old?.email ? old.email : null %>" >
                            <label class="fg-label">Email</label>
                        </div>
                        
                        <% if (locals.errors) { %>
                            <div class="errors">
                              <span><%= errors?.email?.msg %> </span>
                            </div>
                          <% } %>

                        <div class="field-group">
                            <input type="text" name="telefono" class="fg-field" value="<%= locals.old?.telefono ? old.telefono : null %>">
                            <label class="fg-label">Telefono</label>
                        </div>  
                        
                        <div class="field-group">
                            <input type="password" name="password" class="fg-field" >
                            <label class="fg-label">Contrasena</label>
                        </div>

                        <% if (locals.errors) { %>
                            <div class="errors">
                              <span><%= errors?.password?.msg %> </span>
                            </div>
                          <% } %>
                        
                        <div class="field-group">
                            <input type="password" name="passwordRepeat" class="fg-field" >
                            <label class="fg-label">Repetir contrasena</label>
                        </div>

                        <% if (locals.errors) { %>
                            <div class="errors">
                              <span><%= errors?.passwordRepeat?.msg %> </span>
                            </div>
                          <% } %>

                        <br>
                        <div class="field-group">
                            <label for="file-upload" class="custom-file-upload">
                              <i class="fa fa-cloud-upload"></i> Seleccionar
                            </label>
                            <input id="file-upload" name="profileImg" type="file"/>
                            <label class="fg-label">Foto de perfil</label>
                          </div>

                          <% if (locals.errors) { %>
                            <div class="errors">
                              <span><%= errors?.profileImg?.msg %> </span>
                            </div>
                          <% } %>
                        
                        <div class="register-u">
                            <div class="field-group">
                                <a class="forgot" href="/users/login">Ya estas registrado?</a>
                            </div>
                        </div>
                        <div>
                          <button type="submit" class="bttn-dark">Registrarme</button>
                        </div>

                    </form>
                </div>
              </div>
            </div>
        </div>

    </div>

    <%- include('../partials/footer') %> 
</body>
<script>
    AOS.init();
  </script>
</html>